html,
body {
  margin: 0;
  color: $text;
  letter-spacing: 0.5px;
  font-family: 'Futura', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑","MicrosoftJhengHei",'华文细黑',STHeiti,MingLiu, Arial, sans-serif;
  font-size: $font-size-base;
  background-color: #f4f5f5;
  font-weight: 400;
  line-height: 1.4;
  // background-image:url('./../image/ground.jpeg');
  // background-size: cover;
}
*, *:hover {
  @include transition(
    background-color .25s linear,
    color .10s linear,
    margin .25s linear,
    opacity .25s linear,
    filter .25s linear,
    visibility .25s linear,
    transform .25s linear,
    border-color .25s linear);
}

// 清除浮动
.clearfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.el-picker-panel__body-wrapper {
  button {
    padding: 0;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $disabled;
  font-size: 1rem;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $disabled;
  font-size: 1rem;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $disabled;
  font-size: 1rem;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $disabled;
  font-size: 1rem;
}


::-webkit-scrollbar {
  width: .3rem;
  height: .3rem;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95,95,95,.4);
  transition: all .2s;
  border-radius: .5rem;

  &:hover {
    background-color: rgba(95,95,95, .7);
  }
}

input[type="number"]{-moz-appearance:textfield;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
