@font-face {
  font-family: 'iconfont';  /* project id 556700 */
  src: url('//at.alicdn.com/t/font_556700_bxs4vz590or.eot');
  src: url('//at.alicdn.com/t/font_556700_bxs4vz590or.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_556700_bxs4vz590or.woff') format('woff'),
  url('//at.alicdn.com/t/font_556700_bxs4vz590or.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_556700_bxs4vz590or.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before { content: "\e603"; }

.icon-tag:before { content: "\e602"; }

.icon-weibo:before { content: "\e600"; }

.icon-wechat:before { content: "\e707"; }

.icon-qq:before { content: "\e7d8"; }

.icon-comments::before { content: "\e611" }

.icon-link::before { content: "\e77c" }

.icon-face::before { content: "\e62c" }

.icon-code::before { content: "\e665" }

.icon-img::before { content: "\e6eb" }

.icon-submit::before { content: "\e614" }

.icon-reply::before { content: "\e647" }

.icon-movie::before { content: "\e626" }

.icon-music::before { content: "\e680" }

.icon-read::before { content: "\e634" }

.icon-people::before { content: "\e62e" }

.icon-lun::before { content: "\e65b" }



